.row
  .pitch
    %p Zinctub aims to replace the late synchtube.com.
    %p
      Development goals are
      %ul
        %li Secure application structure
        %li Use of HTML5 technologies
        %li Clean, modern design
