.pitch-container
  .row
    .pitch
      %p.muted Zinctub aims to replace the late synchtube.com.
      %p
        %h2 Development goals are:
        %ul.feature-list
          %li Secure application structure
          %li Use of HTML5 technologies
          %li Clean, modern design
