// global form styles

#{$all-text-inputs}
  outline: none
  border: none
  padding: 8px 10px 7px
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset
  border-radius: 3px
  +placeholder
    font: inherit
    -webkit-font-smoothing: antialiased


// form list styles

form > ul
  list-style-type: none
  padding: 0

  > li + li
    margin-top: 15px

  > li
    &[data-hint]:after
      content: attr(data-hint)
      color: mix($flat-blue, $light-grey, 40%)
      -webkit-font-smoothing: antialiased
      margin-left: 10px

    &[data-error]
      &:after
        font-family: "FontAwesome"
        content: "\f071" " " attr(data-error)
        color: $dark-red
        -webkit-font-smoothing: antialiased
        margin-left: 10px
      #{$all-text-inputs}
        box-shadow: 0 0 0 1px $dark-red inset


  label
    display: block
    min-width: 80px
    margin-bottom: 3px

  #{$all-text-inputs}
    color: inherit
    +appearance(none)
    border: none
    padding: 8px 10px 7px
    background-color: $off-white
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset
    outline: none
    border-radius: 3px
    &:focus
      box-shadow: 0 0 0 1px $bright-blue inset

  input[type=submit]
    float: right

// input:-webkit-autofill
//   box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 0 0 50px $off-white inset !important
