.header-container
  background-color: $off-white
  padding: 15px 0
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.05)
  margin-bottom: 45px

  .logo-text
    padding: 10px 0
    margin-left: 20px
    font-size: 20px
  .logo-image img
    display: block
