[class$=-list]
  margin: 0
  padding-left: 20px
  > li + li
    margin-top: 5px

.feature-list
  list-style-type: none
  > li
    font-size: 18px
    &:before
      font-family: "FontAwesome"
      content: "\f00c"
      margin-right: 10px
      font-size: 20px
      color: lighten($flat-blue, 50%)
