[class*=-list]
  margin: 0
  padding: 0

.vertical-action-list
  list-style-type: none
  +clearfix
  > li
    float: left
    a
      text-decoration: none

  > li + li
    margin-left: 10px

.user-list
  > li + li
    margin-top: 5px
  > li
    text-align: right

.rooms-list
  list-style-type: none
  > li + li
    margin-top: 5px

.feature-list
  list-style-type: none
  padding-left: 20px

  > li + li
    margin-top: 5px

  > li
    font-size: 18px
    &:before
      font-family: "FontAwesome"
      content: "\f00c"
      margin-right: 10px
      font-size: 20px
      color: lighten($flat-blue, 50%)
