.playlist-container
  margin-top: 20px
  .row
    #add-video
      width: 55.5%

    .play-list
      list-style-type: none
      background-color: rgba(0, 0, 0, 0.03)
      padding: 10px
      border-radius: 3px
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07) inset, 0 1px 5px rgba(0, 0, 0, 0.1) inset
      counter-reset: playlist
      // max-height: 100px
      overflow: scroll
      position: relative
      &:empty
        position: relative
        min-height: 40px
      &:empty:before
        +position(absolute, 0px 0px 0px 0px)
        text-align: center
        line-height: 38px
        content: "No videos yet"
        opacity: 0.5

      margin-top: 20px
      width: 55.5%

      > li + li
        margin-top: 10px

      > li
        counter-increment: playlist
        &:before
          content: counter(playlist)
          background-color: rgba(0, 0, 0, 0.1)
          text-align: center
          text-indent: 1px
          border-radius: 100px
          display: inline-block
          font-size: 12px
          padding: 0px 6px
          line-height: 20px
          margin-right: 10px

        .title
          vertical-align: middle
          text-decoration: none

        .remove
          margin-left: 10px
          float: right
          display: inline-block
          vertical-align: middle
          border-radius: 100px
          line-height: 20px
          +size(20px)
          &:before
            +size(20px)
            display: inline-block
          &:hover
            color: $off-white
            background-color: #333
