.user-list
  position: absolute
  top: 0
  right: 0
  height: 90%
  width: 30%
  padding: 15px
  list-style-type: none
  > li
    text-align: right
    &.owner .username:before
      vertical-align: middle
      font-family: FontAwesome
      content: "\f005"
      margin-right: 5px
      color: #ffd700
