.user-list
  position: absolute
  top: 0
  right: 0
  height: 90%
  padding: 15px
  list-style-type: none
  background-color: $off-white
  box-shadow: -10px 0 10px $off-white
  > li
    text-align: right

    &.admin .username
      color: $dark-red

    &.owner .username:before
      +font-awesome("\f005")
      margin-right: 5px
      color: #ffd700

    &.mod .username:before
      +font-awesome("\f12a")
      margin-right: 5px
