.video-container
  height: 100%
  width: 55.5%
  position: relative
  overflow: hidden
  background-color: $off-white

  #video-player
    width: 100%
    height: 100%
  .video-overlay
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    padding: 20px
    opacity: 0
    z-index: 12
    background-color: rgba(255, 255, 255, 0.4)
    +transform(scale(1.15))
    +transition(all 300ms $ease-in-out-quad)

  &:hover .video-overlay
    opacity: 1
    +transform(scale(1))
    +transition(all 300ms $ease-in-out-quad)
    +transition-delay(400ms)

  .video-title
    color: #edede9
    position: absolute
    top: 20px
    left: 20px
    font-size: 24px
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1), 0px 1px 3px rgba(0, 0, 0, 1)
    text-decoration: none
    line-height: 24px * 1.5

  .video-progress
    position: absolute
    right: 20px
    left: 20px
    bottom: 20px
    height: 15px
    padding: 1px
    border-radius: 30px
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 1px 1px rgba(255, 255, 255, 0.2)
    .video-loaded-bar, .video-playback-bar
      position: absolute
      top: 0
      left: 0
      height: 100%
      min-width: 16px
      border-radius: inherit
    .video-loaded-bar
      +background-image(linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)))
      +transition(width 300ms $ease-out-quad)
    .video-playback-bar
      +background-image(linear-gradient(to bottom, $off-white, darken($off-white, 20%)))
      +transition(width 300ms $ease-out-quad)
      z-index: 1
