.stage-container
  .row
    .video-container

      .video-overlay
        .video-title
        .video-controls

        .video-progress
          .video-loaded-bar{ style: "width: 0%" }
          .video-playback-bar{ style: "width: 0%" }

      %video#video-player

    .chat-container.busy
      %ul.chat-list
      %ul.user-list
      %input#send-message{ type: "text", autofocus: true, placeholder: current_user ? "" : "Please log in to participate" }

.playlist-container
  .row
    .half-box
      .search-box
        %input#add-video{ type: "text", placeholder: "Add Video", data: { typing: true } }
        %ul.search-results-list
      %ul.play-list
