.stage-container
  .row
    .video-container

      .video-overlay
        .video-title Spirited Away
        .video-controls
        .video-progress
          .bar{ style: "width: 40%" }

      %video#video-player

    .chat-container.busy
      %ul.chat-list
      %ul.user-list
      %input#send-message{ type: "text", autofocus: true, placeholder: current_user ? "" : "Please log in to participate" }
